{% extends "layout.html" %}
{% from "macros/formhelper.html" import render_field %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Register</h3>
        <form method="POST" novalidate>
    		{{ form.csrf_token }}
            {{ render_field(form.email) }}
            {{ render_field(form.password1) }}
            {{ render_field(form.password2) }}
    		<button type="Submit" class="btn btn-success">Register</button>
    	</form>
    </div>
</div>
{% endblock %}
